#virtual environment
/venv

#cache
/djangoProject/finalProject/__pycache__
/djangoProject/storyApp/migrations/__pycache__
/djangoProject/storyApp/__pycache__

#checkpoints
/djangoProject/hf_models

#output (media files)
/djangoProject/media/prompt.wav
/djangoProject/media/prompt_raw.wav
/djangoProject/media/story_audio.wav

#p5 libraries
/djangoProject/storyApp/static/storyApp/p5_library/p5.js
/djangoProject/storyApp/static/storyApp/p5_library/p5.sound.js

