#virtual environment
/venv

#cache
/djangoProject/finalProject/__pycache__
/djangoProject/storyApp/migrations/__pycache__
/djangoProject/storyApp/__pycache__

#checkpoints
/djangoProject/hf_mms-tts-eng

#output
/djangoProject/story_audio.wav
