{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'storyApp/style.css' %}">
        <script src="{% static 'storyApp/script.js' %}"></script>
    </head>
    <body>
        <div class="grid-container">
            <section>
                <div class="flex-container">
                    <p id="feedback">{{feedback}}</p>
                    <form action="{% url 'play' %}" method="post">
                        {% csrf_token %}
                        <div class="flex-container">
                            <input id="main_btn_listen" type="submit" value="Play a story">
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </body>
</html>