{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'storyApp/style.css' %}">
        <script src="{% static 'storyApp/script.js' %}"></script>
    </head>
    <body>
        <div class="grid-container">
            <section>
                <p>Create a new story</p>
                <form action="{% url 'generate' %}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="Create">
                </form>
                <p id="feedback">{{feedback}}</p>
                <p>Listen to a story</p>
                <form action="{% url 'play' %}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="Open">
                </form>
            </section>
        </div>
    </body>
</html>


