{% extends "storyApp/base.html" %}

{% load static %}

{% block body %}
<div class="grid-container-index">
    <form id="container_create" action="{% url 'record' %}" method="post">
        {% csrf_token %}
        <input id="btn_create" type="submit" value="Create a new story">
    </form>
    <form id="container_listen" action="{% url 'play' %}" method="post">
        {% csrf_token %}
        <input id="btn_listen" type="submit" value="Listen to a story">
    </form>
    <p id="feedback">{{feedback}}</p>
</div>
{% endblock %}