{% extends "storyApp/base.html" %}

{% load static %}

{% block grid %}
<div class="grid-container-index">
{% endblock %}

{% block body %}
    <div id="container_create">    
        <button id="btn_create" aria-label="Create a new story">
            <a href="{% url 'record' %}">Create a new story</a>
        </button>        
    </div>
    <div id="container_listen">    
        <button id="btn_listen" aria-label="Listen to a story">
            <a href="{% url 'play' %}">Listen to a story</a>
        </button>        
    </div>
    <p id="feedback">{{feedback}}</p>
</div>
{% endblock %}