{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'storyApp/style.css' %}">
        <script src="{% static 'storyApp/p5_library/p5.js' %}"></script>
        <script src="{% static 'storyApp/p5_library/p5.sound.js' %}"></script>
        <script>var story = "{{audio_file}}";</script>
    </head>
    <body>
        <div class="grid-container">
            <section>
                <div id="waveform" aria-label="waveform"></div>
                <div class="flex-container">
                    <button id="pause" aria-label="pause">Pause</button>
                    <button id="play" aria-label="play">Play</button>
                    <button id="stop" aria-label="stop">Stop</button>
                </div>
            </section>
        </div>
    </body>
    <script src="{% static 'storyApp/script_play.js' %}"></script>
</html>