{% extends "storyApp/base.html" %}

{% load static %}

{% block script %}
<script>var story = "{{audio_file}}";</script>
<script src="{% static 'storyApp/script_play.js' %}"></script>
{% endblock %}

{% block grid %}
<div class="grid-container-play">
{% endblock %}

{% block body %}
    <div id="container_waveform" aria-label="waveform"></div>
    <div id="container_playback" class="flex-container">
        <button id="btn_play" aria-label="play">Play</button>
        <button id="btn_pause" aria-label="pause">Pause</button>
        <button id="btn_stop" aria-label="stop">Stop</button>
    </div>
</div>
{% endblock %}