{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'storyApp/style.css' %}">
        <script src="{% static 'storyApp/script.js' %}"></script>
    </head>
    <body>
        <div class="grid-container">
            <section>
                <audio controls autoplay>
                    <source src= {{ audio_file }} type="audio/wav">
                    Your browser does not support the audio element.
                </audio> 
            </section>
        </div>
    </body>
</html>


