{% extends "storyApp/base.html" %}

{% load static %}

{% block script %}
<script src="{% static 'storyApp/script_record.js' %}"></script>
{% endblock %}

{% block grid %}
<div class="grid-container-record">
{% endblock %}

{% block body %}
    <div id="container_record">    
        <button id="btn_record" aria-label="record">Tell me what your story is about ...</button>        
    </div>
    <form id="container_generate" action="{% url 'generate' %}" method="post">
        {% csrf_token %}
        <input id="btn_generate" type="submit" value="Let's generate your story">
    </form>
</div>
{% endblock %}