{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'storyApp/style.css' %}">
        <script src="{% static 'storyApp/p5_library/p5.js' %}"></script>
        <script src="{% static 'storyApp/p5_library/p5.sound.js' %}"></script>
    </head>
    <body>
        <div class="grid-container-record">
            <div id="container_record">    
                <button id="btn_record" aria-label="record">Record</button>        
            </div>
            <form id="container_generate" action="{% url 'generate' %}" method="post">
                {% csrf_token %}
                <div class="flex-container">
                    <input id="btn_generate" type="submit" value="Generate">
                </div>    
            </form>
        </div>
    </body>
    <script src="{% static 'storyApp/script_record.js' %}"></script>
</html>