/*
#!/usr/bin/env python3
# -*- coding: utf-8 -*-
"""
Created on Tue Jan 20 09:31:05 2026

@author: cod
"""
*/

body {
    padding: 0;
    margin: 0;
}

section{
    margin-top: 10em;
}

#feedback{
    color: red;
    padding: 2em;
    text-align: center;
}

/* buttons */
.flex-container {
    display: flex;
    flex-wrap: wrap;
}
button, 
form, 
#feedback,
input[type=submit],
#div_record{
    flex-grow: 1;
}
/* buttons: index & record*/
form,
#div_record,
#div_generate
{
    padding: 1em;
}
input[type=submit], 
#record,
#generate{
    border: none;
    border-radius: 1em;
    font-size: 2em;
    color: white;
    padding: 2em;
    cursor: pointer;
}
#main_btn_create{
    background-color: green;
}
#main_btn_listen{
    background-color: blue;
}
#record{
    background-color: red;
}
#generate{
    background-color: blue;
}

/* playback buttons */
#pause,
#play,
#stop{
    border: none;
    border-radius: 0.2em;
    font-size: 1em;
    color: white;
    padding: 1em;
    cursor: pointer;
}
#pause{
      color: orange;
}
#play{
      color: green;
}
#stop{
      color: #222222;
}

/* hover */
#main_btn_create:hover,
#main_btn_listen:hover,
#pause:hover,
#play:hover,
#stop:hover{
  background-color: grey;
  color: white;
}

#waveform {
    width: 100%;
    height: 300px;
    border-radius: 0.2em;
}

/*Grid ----------------------------------------------------------------------*/
/*mapping-------------------------------------*/    
section{grid-area: system;}

/*Mobile--------------------------------------*/
@media only screen and (max-width: 750px){
    .grid-container{
        display: grid;
        grid-template-columns: repeat(12, 8.33%);
        grid-template-areas:
            "system system system system system system system system system system system system";
    }
}
/*Tablet--------------------------------------*/
@media only screen and (min-width: 751px) and (max-width: 1010px){
    .grid-container{
        display: grid;
        grid-template-columns: repeat(12, 8.33%);
        grid-template-areas:
            ". . . system system system system system system . . .";
    }
}
/*Desktop-------------------------------------*/
@media only screen and (min-width: 1011px){
    .grid-container{
        display: grid;
        grid-template-columns: repeat(12, 8.33%);
        grid-template-areas:
            ". . . . system system system system . . . .";
    }
}